DisplayDocDataEJB/src/conf/wsdl/client/DocumentManagerService/208.75.163.61_8080/DocumentManager_Service/DocumentManagerService.xsd_6.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="urn:gov:hhs:fha:nhinc:common:docmgr" targetNamespace="urn:gov:hhs:fha:nhinc:common:docmgr" elementFormDefault="qualified">
    <xsd:complexType name="GenerateUniqueIdRequestType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GenerateUniqueIdRequest" type="tns:GenerateUniqueIdRequestType" />
    <xsd:complexType name="GenerateUniqueIdResponseType">
        <xsd:sequence>
            <xsd:element name="uniqueId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GenerateUniqueIdResponse" type="tns:GenerateUniqueIdResponseType" />
</xsd:schema>