DisplayDocDataEJB/src/conf/xml-resources/web-service-references/DocumentManagerService/wsdl/208.75.163.61_8080/DocumentManager_Service/DocumentManagerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><!-- This wsdl file is for a Document Manager --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:hl7="urn:hl7-org:v3" xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:docmgr="urn:gov:hhs:fha:nhinc:common:docmgr" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" targetNamespace="urn:ihe:iti:xds-b:2007" name="DocumentManager">
	<documentation>Document Manager</documentation>
	<types>
        <xsd:schema xmlns:ihe="urn:ihe:iti:xds-b:2007" elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007">
            <!-- Include the message schema -->
            <xsd:include schemaLocation="http://208.75.163.61:8080/DocumentManager_Service/DocumentManagerService?xsd=5" />
        </xsd:schema>
		<xsd:schema xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="http://208.75.163.61:8080/DocumentManager_Service/DocumentManagerService?xsd=2" />
		</xsd:schema>
		<xsd:schema xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="http://208.75.163.61:8080/DocumentManager_Service/DocumentManagerService?xsd=4" />
		</xsd:schema>
		<xsd:schema xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="http://208.75.163.61:8080/DocumentManager_Service/DocumentManagerService?xsd=1" />
		</xsd:schema>
		<!-- While no elements are directly used from this schema in the WSDL, it needs to be present here in order for
		code generating toolkits to work properly -->
		<xsd:schema xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0" elementFormDefault="qualified" targetNamespace="urn:oasis:names:tc:ebxml-regrep:xsd:rim:3.0">
			<!-- Include the message schema -->
			<xsd:include schemaLocation="http://208.75.163.61:8080/DocumentManager_Service/DocumentManagerService?xsd=3" />
		</xsd:schema>
        <xsd:schema>
            <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:docmgr" schemaLocation="http://208.75.163.61:8080/DocumentManager_Service/DocumentManagerService?xsd=7" />
        </xsd:schema>
	</types>
	<message name="queryDynamicDocumentArchive_Message">
		<documentation>Registry Stored Query</documentation>
		<part name="body" element="query:AdhocQueryRequest" />
	</message>
	<message name="queryDynamicDocumentArchiveResponse_Message">
		<documentation>Registry Stored Query Response</documentation>
		<part name="body" element="query:AdhocQueryResponse" />
	</message>
    <message name="retrieveDynamicDocument_Message">
        <documentation>Retrieve Document Set</documentation>
        <part name="body" element="ihe:RetrieveDocumentSetRequest" />
    </message>
    <message name="retrieveDynamicDocumentResponse_Message">
        <documentation>Retrieve Document Set Response</documentation>
        <part name="body" element="ihe:RetrieveDocumentSetResponse" />
    </message>
    <message name="storeDynamicDocument_Message">
        <documentation>Provide and Register Document Set</documentation>
        <part name="body" element="ihe:ProvideAndRegisterDocumentSetRequest" />
    </message>
    <message name="storeDynamicDocumentResponse_Message">
        <documentation>Provide And Register Document Set Response</documentation>
        <part name="body" element="rs:RegistryResponse" />
    </message>
    <message name="archiveDynamicDocument_Message">
        <documentation>Retrieve Document Set</documentation>
        <part name="body" element="ihe:RetrieveDocumentSetRequest" />
    </message>
    <message name="archiveDynamicDocumentResponse_Message">
        <documentation>Provide And Register Document Set Response</documentation>
        <part name="body" element="rs:RegistryResponse" />
    </message>
	<message name="queryInboundRepository_Message">
		<documentation>Registry Stored Query</documentation>
		<part name="body" element="query:AdhocQueryRequest" />
	</message>
	<message name="queryInboundRepositoryResponse_Message">
		<documentation>Registry Stored Query Response</documentation>
		<part name="body" element="query:AdhocQueryResponse" />
	</message>
    <message name="retrieveInboundDocument_Message">
        <documentation>Retrieve Document Set</documentation>
        <part name="body" element="ihe:RetrieveDocumentSetRequest" />
    </message>
    <message name="retrieveInboundDocumentResponse_Message">
        <documentation>Retrieve Document Set Response</documentation>
        <part name="body" element="ihe:RetrieveDocumentSetResponse" />
    </message>
    <message name="storeInboundDocument_Message">
        <documentation>Provide and Register Document Set</documentation>
        <part name="body" element="ihe:ProvideAndRegisterDocumentSetRequest" />
    </message>
    <message name="storeInboundDocumentResponse_Message">
        <documentation>Provide And Register Document Set Response</documentation>
        <part name="body" element="rs:RegistryResponse" />
    </message>
	<message name="queryPolicyRepository_Message">
		<documentation>Registry Stored Query</documentation>
		<part name="body" element="query:AdhocQueryRequest" />
	</message>
	<message name="queryPolicyRepositoryResponse_Message">
		<documentation>Registry Stored Query Response</documentation>
		<part name="body" element="query:AdhocQueryResponse" />
	</message>
    <message name="retrievePolicy_Message">
        <documentation>Retrieve Document Set</documentation>
        <part name="body" element="ihe:RetrieveDocumentSetRequest" />
    </message>
    <message name="retrievePolicyResponse_Message">
        <documentation>Retrieve Document Set Response</documentation>
        <part name="body" element="ihe:RetrieveDocumentSetResponse" />
    </message>
    <message name="storePolicy_Message">
        <documentation>Provide and Register Document Set</documentation>
        <part name="body" element="ihe:ProvideAndRegisterDocumentSetRequest" />
    </message>
    <message name="storePolicyResponse_Message">
        <documentation>Provide And Register Document Set Response</documentation>
        <part name="body" element="rs:RegistryResponse" />
    </message>
    <message name="generateUniqueIdRequestMessage">
        <documentation>Generate unique id for documents</documentation>
        <part name="request" element="docmgr:GenerateUniqueIdRequest" />
    </message>
    <message name="generateUniqueIdResponseMessage">
        <documentation>Generate unique id for documents</documentation>
        <part name="response" element="docmgr:GenerateUniqueIdResponse" />
    </message>
    <message name="startNHINQueryAndDownloadRequestMessage">
        <documentation>Asynchronously retrieve new documents</documentation>
        <part name="request" element="docmgr:StartNHINQueryAndDownloadRequest" />
    </message>
    <message name="startNHINQueryAndDownloadResponseMessage">
        <documentation>Asynchronously retrieve new documents</documentation>
        <part name="response" element="docmgr:StartNHINQueryAndDownloadResponse" />
    </message>
	<portType name="DocumentManager_PortType">
        <operation name="DocumentManager_queryDynamicDocumentArchive">
			<input message="ihe:queryDynamicDocumentArchive_Message" wsaw:Action="urn:ihe:iti:2007:QueryDynamicDocumentArchive" />
			<output message="ihe:queryDynamicDocumentArchiveResponse_Message" wsaw:Action="urn:ihe:iti:2007:QueryDynamicDocumentArchiveResponse" />
		</operation>
        <operation name="DocumentManager_retrieveDynamicDocument">
            <input message="ihe:retrieveDynamicDocument_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDynamicDocument" />
            <output message="ihe:retrieveDynamicDocumentResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveDynamicDocumentResponse" />
        </operation>
        <operation name="DocumentManager_storeDynamicDocument">
            <input message="ihe:storeDynamicDocument_Message" wsaw:Action="urn:ihe:iti:2007:StoreDynamicDocument" />
            <output message="ihe:storeDynamicDocumentResponse_Message" wsaw:Action="urn:ihe:iti:2007:StoreDynamicDocumentResponse" />
        </operation>
        <operation name="DocumentManager_archiveDynamicDocument">
            <input message="ihe:archiveDynamicDocument_Message" wsaw:Action="urn:ihe:iti:2007:ArchiveDynamicDocument" />
            <output message="ihe:archiveDynamicDocumentResponse_Message" wsaw:Action="urn:ihe:iti:2007:ArchiveDynamicDocumentResponse" />
        </operation>
        <operation name="DocumentManager_queryInboundRepository">
			<input message="ihe:queryInboundRepository_Message" wsaw:Action="urn:ihe:iti:2007:QueryInboundRepository" />
			<output message="ihe:queryDynamicDocumentArchiveResponse_Message" wsaw:Action="urn:ihe:iti:2007:QueryInboundRepositoryResponse" />
		</operation>
        <operation name="DocumentManager_retrieveInboundDocument">
            <input message="ihe:retrieveInboundDocument_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveInboundDocument" />
            <output message="ihe:retrieveInboundDocumentResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrieveInboundDocumentResponse" />
        </operation>
        <operation name="DocumentManager_storeInboundDocument">
            <input message="ihe:storeInboundDocument_Message" wsaw:Action="urn:ihe:iti:2007:StoreInboundDocument" />
            <output message="ihe:storeInboundDocumentResponse_Message" wsaw:Action="urn:ihe:iti:2007:StoreInboundDocumentResponse" />
        </operation>
        <operation name="DocumentManager_queryPolicyRepository">
			<input message="ihe:queryPolicyRepository_Message" wsaw:Action="urn:ihe:iti:2007:QueryPolicyRepository" />
			<output message="ihe:queryPolicyRepositoryResponse_Message" wsaw:Action="urn:ihe:iti:2007:QueryPolicyRepositoryResponse" />
		</operation>
        <operation name="DocumentManager_retrievePolicy">
            <input message="ihe:retrievePolicy_Message" wsaw:Action="urn:ihe:iti:2007:RetrievePolicy" />
            <output message="ihe:retrievePolicyResponse_Message" wsaw:Action="urn:ihe:iti:2007:RetrievePolicyResponse" />
        </operation>
        <operation name="DocumentManager_storePolicy">
            <input message="ihe:storePolicy_Message" wsaw:Action="urn:ihe:iti:2007:StorePolicy" />
            <output message="ihe:storePolicyResponse_Message" wsaw:Action="urn:ihe:iti:2007:StorePolicyResponse" />
        </operation>
        <operation name="GenerateUniqueId">
            <input message="ihe:generateUniqueIdRequestMessage" wsaw:Action="urn:ihe:iti:2007:GenerateUniqueIdRequest" />
            <output message="ihe:generateUniqueIdResponseMessage" wsaw:Action="urn:ihe:iti:2007:GenerateUniqueIdResponse" />
        </operation>
        <operation name="StartNHINQueryAndDownload">
            <input message="ihe:startNHINQueryAndDownloadRequestMessage" wsaw:Action="urn:ihe:iti:2007:StartNHINQueryAndDownloadRequest" />
            <output message="ihe:startNHINQueryAndDownloadResponseMessage" wsaw:Action="urn:ihe:iti:2007:StartNHINQueryAndDownloadResponse" />
        </operation>
	</portType>
	<binding name="DocumentManager_Binding_Soap" type="ihe:DocumentManager_PortType">
	 <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="DocumentManager_queryDynamicDocumentArchive">
			<soap:operation soapAction="urn:ihe:iti:2007:QueryDynamicDocumentArchive" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
        <operation name="DocumentManager_retrieveDynamicDocument">
            <soap:operation soapAction="urn:ihe:iti:2007:RetrieveDynamicDocument" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="DocumentManager_storeDynamicDocument">
            <soap:operation soapAction="urn:ihe:iti:2007:StoreDynamicDocument" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="DocumentManager_archiveDynamicDocument">
            <soap:operation soapAction="urn:ihe:iti:2007:ArchiveDynamicDocument" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
		<operation name="DocumentManager_queryInboundRepository">
			<soap:operation soapAction="urn:ihe:iti:2007:QueryInboundRepository" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
        <operation name="DocumentManager_retrieveInboundDocument">
            <soap:operation soapAction="urn:ihe:iti:2007:RetrieveInboundDocument" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="DocumentManager_storeInboundDocument">
            <soap:operation soapAction="urn:ihe:iti:2007:StoreInboundDocument" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
		<operation name="DocumentManager_queryPolicyRepository">
			<soap:operation soapAction="urn:ihe:iti:2007:QueryPolicyRepository" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
        <operation name="DocumentManager_storePolicy">
            <soap:operation soapAction="urn:ihe:iti:2007:StorePolicy" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="DocumentManager_retrievePolicy">
            <soap:operation soapAction="urn:ihe:iti:2007:RetrievePolicy" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="GenerateUniqueId">
            <soap:operation soapAction="urn:ihe:iti:2007:GenerateUniqueId" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
        <operation name="StartNHINQueryAndDownload">
            <soap:operation soapAction="urn:ihe:iti:2007:StartNHINQueryAndDownload" />
            <input>
                <soap:body use="literal" />
            </input>
            <output>
                <soap:body use="literal" />
            </output>
        </operation>
	</binding>
	<service name="DocumentManager_Service">
		<port name="DocumentManager_Port_Soap" binding="ihe:DocumentManager_Binding_Soap">
			<soap:address location="http://208.75.163.61:8080/DocumentManager_Service/DocumentManagerService" />
		</port>
	</service>
</definitions>