DisplayDocDataEJB/src/conf/xml-resources/web-service-references/DocumentManagerService/wsdl/208.75.163.61_8080/DocumentManager_Service/DocumentManagerService.xsd_7.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dda="urn:gov:hhs:fha:nhinc:common:dda" xmlns:tns="urn:gov:hhs:fha:nhinc:common:docmgr" targetNamespace="urn:gov:hhs:fha:nhinc:common:docmgr" elementFormDefault="qualified">
    <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:dda" schemaLocation="http://208.75.163.61:8080/DocumentManager_Service/DocumentManagerService?xsd=6" />
    <xsd:complexType name="DocDownloadInfoType">
        <xsd:sequence>
            <xsd:element name="ticket" type="xsd:string" />
            <xsd:element name="docInfo" type="dda:summaryData" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GenerateUniqueIdRequestType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GenerateUniqueIdRequest" type="tns:GenerateUniqueIdRequestType" />
    <xsd:complexType name="GenerateUniqueIdResponseType">
        <xsd:sequence>
            <xsd:element name="uniqueId" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GenerateUniqueIdResponse" type="tns:GenerateUniqueIdResponseType" />
    <xsd:complexType name="QueryDoneRequestType">
        <xsd:sequence>
            <xsd:element name="ticket" type="xsd:string" />
            <xsd:element name="newDocs" type="tns:DocDownloadInfoType" nillable="true" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="QueryDoneRequest" type="tns:QueryDoneRequestType" />
    <xsd:complexType name="QueryDoneResponseType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="QueryDoneResponse" type="tns:QueryDoneResponseType" />
    <xsd:element name="DocAvailableRequest" type="tns:DocDownloadInfoType" />
    <xsd:complexType name="DocAvailableResponseType">
        <xsd:sequence>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DocAvailableResponse" type="tns:DocAvailableResponseType" />
    <xsd:complexType name="StartNHINQueryAndDownloadRequestType">
        <xsd:sequence>
            <xsd:element name="callbackURL" type="xsd:string" />
            <xsd:element name="username" type="xsd:string" />
            <xsd:element name="queryFromDate" type="xsd:dateTime" />
            <xsd:element name="queryToDate" type="xsd:dateTime" nillable="true" />
            <xsd:element name="patientUnitNumber" type="xsd:string" />
            <xsd:element name="patientFirstName" type="xsd:string" />
            <xsd:element name="patientMiddleName" type="xsd:string" />
            <xsd:element name="patientLastName" type="xsd:string" />
            <xsd:element name="patientDOB" type="xsd:date" />
            <xsd:element name="providerFirstName" type="xsd:string" />
            <xsd:element name="providerMiddleName" type="xsd:string" />
            <xsd:element name="providerLastName" type="xsd:string" />
            <xsd:element name="homeCommunityId" type="xsd:string" />
            <xsd:element name="homeCommunityName" type="xsd:string" />
            <xsd:element name="homeCommunityDescription" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="StartNHINQueryAndDownloadRequest" type="tns:StartNHINQueryAndDownloadRequestType" />
    <xsd:complexType name="StartNHINQueryAndDownloadResponseType">
        <xsd:sequence>
            <xsd:element name="ticket" type="xsd:string" />
            <xsd:element name="requestDetail" type="xsd:string" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="StartNHINQueryAndDownloadResponse" type="tns:StartNHINQueryAndDownloadResponseType" />
</xsd:schema>