KmrAuthenticationWS/src/conf/wsdl/schemas/MSCAuthenticationService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.3-hudson-757-SNAPSHOT. --><xs:schema xmlns:tns="http://service.util.medsphere.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.util.medsphere.org/">

<xs:element name="ValidateAuthenticationInformation" type="tns:ValidateAuthenticationInformation"></xs:element>

<xs:element name="ValidateAuthenticationInformationResponse" type="tns:ValidateAuthenticationInformationResponse"></xs:element>

<xs:complexType name="ValidateAuthenticationInformation">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="arg1" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ValidateAuthenticationInformationResponse">
<xs:sequence>
<xs:element name="return" type="tns:UserInfo" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="UserInfo">
<xs:sequence>
<xs:element name="DUZ" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="UserName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="UserFullName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="DivisionID" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="StationName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="StationNumber" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Title" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ServiceSection" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="Language" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="DTime" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="ErrorMessage" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>