CDLClientLib/src/META-INF/AdapterFactService.xml

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:gov:hhs:fha:nhinc:adapter:factservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:gov:hhs:fha:nhinc:adapter:factservice" name="CommonDataLayerFactService">
<types>
<xsd:schema>
<xsd:import namespace="urn:gov:hhs:fha:nhinc:adapter:factservice" schemaLocation="http://nhinint03.asu.edu:8080/CommonDataLayerFactService/AdapterFactService?xsd=1" />
</xsd:schema>
<xsd:schema>
<xsd:import namespace="urn:gov:hhs:fha:nhinc:adapter:fact" schemaLocation="http://nhinint03.asu.edu:8080/CommonDataLayerFactService/AdapterFactService?xsd=2" />
</xsd:schema>
</types>
<message name="GetAllergyFacts">
<part name="parameters" element="tns:GetAllergyFacts" />
</message>
<message name="GetAllergyFactsResponse">
<part name="parameters" element="tns:GetAllergyFactsResponse" />
</message>
<message name="GetProblemFacts">
<part name="parameters" element="tns:GetProblemFacts" />
</message>
<message name="GetProblemFactsResponse">
<part name="parameters" element="tns:GetProblemFactsResponse" />
</message>
<message name="GetDemographicsFact">
<part name="parameters" element="tns:GetDemographicsFact" />
</message>
<message name="GetDemographicsFactResponse">
<part name="parameters" element="tns:GetDemographicsFactResponse" />
</message>
<message name="GetTestResultFacts">
<part name="parameters" element="tns:GetTestResultFacts" />
</message>
<message name="GetTestResultFactsResponse">
<part name="parameters" element="tns:GetTestResultFactsResponse" />
</message>
<message name="GetMedicationFacts">
<part name="parameters" element="tns:GetMedicationFacts" />
</message>
<message name="GetMedicationFactsResponse">
<part name="parameters" element="tns:GetMedicationFactsResponse" />
</message>
<portType name="AdapterFactService">
<operation name="GetAllergyFacts">
<input message="tns:GetAllergyFacts" />
<output message="tns:GetAllergyFactsResponse" />
</operation>
<operation name="GetProblemFacts">
<input message="tns:GetProblemFacts" />
<output message="tns:GetProblemFactsResponse" />
</operation>
<operation name="GetDemographicsFact">
<input message="tns:GetDemographicsFact" />
<output message="tns:GetDemographicsFactResponse" />
</operation>
<operation name="GetTestResultFacts">
<input message="tns:GetTestResultFacts" />
<output message="tns:GetTestResultFactsResponse" />
</operation>
<operation name="GetMedicationFacts">
<input message="tns:GetMedicationFacts" />
<output message="tns:GetMedicationFactsResponse" />
</operation>
</portType>
<binding name="CommonDataLayerFactPortBinding" type="tns:AdapterFactService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="GetAllergyFacts">
<soap:operation soapAction="urn:GetAllergyFacts" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetProblemFacts">
<soap:operation soapAction="urn:GetProblemFacts" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetDemographicsFact">
<soap:operation soapAction="urn:GetDemographicsFact" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetTestResultFacts">
<soap:operation soapAction="urn:GetTestResultFacts" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="GetMedicationFacts">
<soap:operation soapAction="urn:GetMedicationFacts" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CommonDataLayerFactService">
<port name="CommonDataLayerFactPort" binding="tns:CommonDataLayerFactPortBinding">
<soap:address location="http://nhinint03.asu.edu:8080/CommonDataLayerFactService/AdapterFactService" />
</port>
</service>
</definitions>
