KMRClientLib/src/META-INF/soap.xml

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="knowledgeService" targetNamespace="http://service.server.drools.org/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.server.drools.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://service.server.drools.org/" xmlns:tns="http://service.server.drools.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="execute" type="tns:execute" />
<xs:element name="executeResponse" type="tns:executeResponse" />
<xs:complexType name="execute">
<xs:sequence>
<xs:element minOccurs="0" name="command" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:complexType name="executeResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="xs:string" />
</xs:sequence>
</xs:complexType>
<xs:element name="CheckedDroolsException" type="tns:CheckedDroolsException" />
<xs:complexType name="CheckedDroolsException">
<xs:sequence />
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="execute">
    <wsdl:part element="tns:execute" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="executeResponse">
    <wsdl:part element="tns:executeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CheckedDroolsException">
    <wsdl:part element="tns:CheckedDroolsException" name="CheckedDroolsException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="KnowledgeServiceSoap">
    <wsdl:operation name="execute">
      <wsdl:input message="tns:execute" name="execute">
    </wsdl:input>
      <wsdl:output message="tns:executeResponse" name="executeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CheckedDroolsException" name="CheckedDroolsException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="knowledgeServiceSoapBinding" type="tns:KnowledgeServiceSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="execute">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="execute">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="executeResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="CheckedDroolsException">
        <soap:fault name="CheckedDroolsException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="knowledgeService">
    <wsdl:port binding="tns:knowledgeServiceSoapBinding" name="KnowledgeServiceSoapImplPort">
      <soap:address location="http://nhinint01.asu.edu/drools-server/services/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>