PatientCohortService/src/conf/xml-resources/web-service-references/AdapterFactService/wsdl/nhinint03.asu.edu_8080/CommonDataLayerFactService/AdapterFactService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. --><xs:schema xmlns:tns="urn:gov:hhs:fha:nhinc:adapter:factservice" xmlns:ns1="urn:gov:hhs:fha:nhinc:adapter:fact" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="urn:gov:hhs:fha:nhinc:adapter:factservice">

<xs:import namespace="urn:gov:hhs:fha:nhinc:adapter:fact" schemaLocation="http://nhinint03.asu.edu:8080/CommonDataLayerFactService/AdapterFactService?xsd=2" />

<xs:element name="GetAllergyFacts" type="tns:GetAllergyFacts" />

<xs:element name="GetAllergyFactsResponse" type="tns:GetAllergyFactsResponse" />

<xs:element name="GetDemographicsFact" type="tns:GetDemographicsFact" />

<xs:element name="GetDemographicsFactResponse" type="tns:GetDemographicsFactResponse" />

<xs:element name="GetMedicationFacts" type="tns:GetMedicationFacts" />

<xs:element name="GetMedicationFactsResponse" type="tns:GetMedicationFactsResponse" />

<xs:element name="GetProblemFacts" type="tns:GetProblemFacts" />

<xs:element name="GetProblemFactsResponse" type="tns:GetProblemFactsResponse" />

<xs:element name="GetSupportContactFacts" type="tns:GetSupportContactFacts" />

<xs:element name="GetSupportContactFactsResponse" type="tns:GetSupportContactFactsResponse" />

<xs:element name="GetTestResultFacts" type="tns:GetTestResultFacts" />

<xs:element name="GetTestResultFactsResponse" type="tns:GetTestResultFactsResponse" />

<xs:complexType name="GetDemographicsFact">
<xs:sequence>
<xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetDemographicsFactResponse">
<xs:sequence>
<xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetProblemFacts">
<xs:sequence>
<xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetProblemFactsResponse">
<xs:sequence>
<xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetTestResultFacts">
<xs:sequence>
<xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetTestResultFactsResponse">
<xs:sequence>
<xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetSupportContactFacts">
<xs:sequence>
<xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetSupportContactFactsResponse">
<xs:sequence>
<xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMedicationFacts">
<xs:sequence>
<xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetMedicationFactsResponse">
<xs:sequence>
<xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllergyFacts">
<xs:sequence>
<xs:element ref="ns1:FactsQueryRequest" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllergyFactsResponse">
<xs:sequence>
<xs:element ref="ns1:FactQueryResponse" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>