AdapterFactServiceLib/xml-resources/web-service-references/AdapterFactsService/wsdl/AdapterFactsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2011 (x64) (http://www.altova.com) by Kim Pham (Ascenda Healthcare) -->
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6-hudson-317-. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:gov:hhs:fha:nhinc:adapter:factservice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" name="AdapterFactService" targetNamespace="urn:gov:hhs:fha:nhinc:adapter:factservice">
	<types>
		<xsd:schema>
			<xsd:import namespace="urn:gov:hhs:fha:nhinc:adapter:factservice" schemaLocation="../schemas/nhinc/common/CommonDataLayerFact.xsd"/>
		</xsd:schema>
		<xsd:schema>
			<xsd:import namespace="urn:gov:hhs:fha:nhinc:adapter:fact" schemaLocation="../schemas/nhinc/common/CommonDataLayerFactTypes.xsd"/>
		</xsd:schema>
	</types>
	<message name="GetAllergyFacts">
		<part name="parameters" element="tns:GetAllergyFacts"/>
	</message>
	<message name="GetAllergyFactsResponse">
		<part name="parameters" element="tns:GetAllergyFactsResponse"/>
	</message>
	<message name="FaultMessage">
		<part name="fault" element="tns:FaultMessage"/>
	</message>
	<message name="GetImmunizationFacts">
		<part name="parameters" element="tns:GetImmunizationFacts"/>
	</message>
	<message name="GetImmunizationFactsResponse">
		<part name="parameters" element="tns:GetImmunizationFactsResponse"/>
	</message>
	<message name="GetProblemFacts">
		<part name="parameters" element="tns:GetProblemFacts"/>
	</message>
	<message name="GetProblemFactsResponse">
		<part name="parameters" element="tns:GetProblemFactsResponse"/>
	</message>
	<message name="GetTestResultFacts">
		<part name="parameters" element="tns:GetTestResultFacts"/>
	</message>
	<message name="GetTestResultFactsResponse">
		<part name="parameters" element="tns:GetTestResultFactsResponse"/>
	</message>
	<message name="GetMedicationFacts">
		<part name="parameters" element="tns:GetMedicationFacts"/>
	</message>
	<message name="GetMedicationFactsResponse">
		<part name="parameters" element="tns:GetMedicationFactsResponse"/>
	</message>
	<message name="GetDemographicsFact">
		<part name="parameters" element="tns:GetDemographicsFact"/>
	</message>
	<message name="GetDemographicsFactResponse">
		<part name="parameters" element="tns:GetDemographicsFactResponse"/>
	</message>
	<message name="GetVitalsFacts">
		<part name="parameters" element="tns:GetVitalsFacts"/>
	</message>
	<message name="GetVitalsFactsResponse">
		<part name="parameters" element="tns:GetVitalsFactsResponse"/>
	</message>
	<message name="GetTestResultEventFacts">
		<part name="parameters" element="tns:GetTestResultEventFacts"/>
	</message>
	<message name="GetTestResultEventFactsResponse">
		<part name="parameters" element="tns:GetTestResultEventFactsResponse"/>
	</message>
	<message name="GetSupportContactFacts">
		<part name="parameters" element="tns:GetSupportContactFacts"/>
	</message>
	<message name="GetSupportContactFactsResponse">
		<part name="parameters" element="tns:GetSupportContactFactsResponse"/>
	</message>
	<message name="GetProcedureFacts">
		<part name="parameters" element="tns:GetProcedureFacts"/>
	</message>
	<message name="GetProcedureFactsResponse">
		<part name="parameters" element="tns:GetProcedureFactsResponse"/>
	</message>
	<message name="GetAppointmentFacts">
		<part name="parameters" element="tns:GetAppointmentFacts"/>
	</message>
	<message name="GetAppointmentFactsResponse">
		<part name="parameters" element="tns:GetAppointmentFactsResponse"/>
	</message>
	<message name="GetAdmissionFacts">
		<part name="parameters" element="tns:GetAdmissionFacts"/>
	</message>
	<message name="GetAdmissionFactsResponse">
		<part name="parameters" element="tns:GetAdmissionFactsResponse"/>
	</message>
	<message name="GetEncounterFacts">
		<part name="parameters" element="tns:GetEncounterFacts"/>
	</message>
	<message name="GetEncounterFactsResponse">
		<part name="parameters" element="tns:GetEncounterFactsResponse"/>
	</message>
	<message name="GetEncounterDetailFacts">
		<part name="parameters" element="tns:GetEncounterDetailFacts"/>
	</message>
	<message name="GetEncounterDetailFactsResponse">
		<part name="parameters" element="tns:GetEncounterDetailFactsResponse"/>
	</message>
	<message name="GetPatientFacts">
		<part name="parameters" element="tns:GetPatientFacts"/>
	</message>
	<message name="GetPatientFactsResponse">
		<part name="parameters" element="tns:GetPatientFactsResponse"/>
	</message>
	<message name="GetProviderFacts">
		<part name="parameters" element="tns:GetProviderFacts"/>
	</message>
	<message name="GetProviderFactsResponse">
		<part name="parameters" element="tns:GetProviderFactsResponse"/>
	</message>
	<message name="GetInsuranceFacts">
		<part name="parameters" element="tns:GetInsuranceFacts"/>
	</message>
	<message name="GetInsuranceFactsResponse">
		<part name="parameters" element="tns:GetInsuranceFactsResponse"/>
	</message>
	<message name="GetOrderFacts">
		<part name="parameters" element="tns:GetOrderFacts"/>
	</message>
	<message name="GetOrderFactsResponse">
		<part name="parameters" element="tns:GetOrderFactsResponse"/>
	</message>
	<message name="GetRegistryFacts">
		<part name="parameters" element="tns:GetRegistryFacts"/>
	</message>
	<message name="GetRegistryFactsResponse">
		<part name="parameters" element="tns:GetRegistryFactsResponse"/>
	</message>
	<message name="GetImagingResultFacts">
		<part name="parameters" element="tns:GetImagingResultFacts"/>
	</message>
	<message name="GetImagingResultFactsResponse">
		<part name="parameters" element="tns:GetImagingResultFactsResponse"/>
	</message>
	<message name="GetAppointmentScheduleFacts">
		<part name="parameters" element="tns:GetAppointmentScheduleFacts"/>
	</message>
	<message name="GetAppointmentScheduleFactsResponse">
		<part name="parameters" element="tns:GetAppointmentScheduleFactsResponse"/>
	</message>
	<message name="RecordLabOrder">
		<part name="parameters" element="tns:RecordLabOrder"/>
	</message>
	<message name="RecordLabOrderResponse">
		<part name="parameters" element="tns:RecordLabOrderResponse"/>
	</message>
	<portType name="AdapterFactService">
		<operation name="GetAllergyFacts">
			<input message="tns:GetAllergyFacts"/>
			<output message="tns:GetAllergyFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetImmunizationFacts">
			<input message="tns:GetImmunizationFacts"/>
			<output message="tns:GetImmunizationFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetProblemFacts">
			<input message="tns:GetProblemFacts"/>
			<output message="tns:GetProblemFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetTestResultFacts">
			<input message="tns:GetTestResultFacts"/>
			<output message="tns:GetTestResultFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetMedicationFacts">
			<input message="tns:GetMedicationFacts"/>
			<output message="tns:GetMedicationFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetDemographicsFact">
			<input message="tns:GetDemographicsFact"/>
			<output message="tns:GetDemographicsFactResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetVitalsFacts">
			<input message="tns:GetVitalsFacts"/>
			<output message="tns:GetVitalsFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetTestResultEventFacts">
			<input message="tns:GetTestResultEventFacts"/>
			<output message="tns:GetTestResultEventFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetSupportContactFacts">
			<input message="tns:GetSupportContactFacts"/>
			<output message="tns:GetSupportContactFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetProcedureFacts">
			<input message="tns:GetProcedureFacts"/>
			<output message="tns:GetProcedureFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetAppointmentFacts">
			<input message="tns:GetAppointmentFacts"/>
			<output message="tns:GetAppointmentFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetAdmissionFacts">
			<input message="tns:GetAdmissionFacts"/>
			<output message="tns:GetAdmissionFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetEncounterFacts">
			<input message="tns:GetEncounterFacts"/>
			<output message="tns:GetEncounterFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetEncounterDetailFacts">
			<input message="tns:GetEncounterDetailFacts"/>
			<output message="tns:GetEncounterDetailFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetPatientFacts">
			<input message="tns:GetPatientFacts"/>
			<output message="tns:GetPatientFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetProviderFacts">
			<input message="tns:GetProviderFacts"/>
			<output message="tns:GetProviderFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetInsuranceFacts">
			<input message="tns:GetInsuranceFacts"/>
			<output message="tns:GetInsuranceFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetOrderFacts">
			<input message="tns:GetOrderFacts"/>
			<output message="tns:GetOrderFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetRegistryFacts">
			<input message="tns:GetRegistryFacts"/>
			<output message="tns:GetRegistryFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetImagingResultFacts">
			<input message="tns:GetImagingResultFacts"/>
			<output message="tns:GetImagingResultFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="GetAppointmentScheduleFacts">
			<input message="tns:GetAppointmentScheduleFacts"/>
			<output message="tns:GetAppointmentScheduleFactsResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
		<operation name="RecordLabOrder">
			<input message="tns:RecordLabOrder"/>
			<output message="tns:RecordLabOrderResponse"/>
			<fault name="FaultMessage" message="tns:FaultMessage"/>
		</operation>
	</portType>
	<binding name="CommonDataLayerFactPortBinding" type="tns:AdapterFactService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="GetAllergyFacts">
			<soap:operation soapAction="urn:GetAllergyFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetImmunizationFacts">
			<soap:operation soapAction="urn:GetImmunizationFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetProblemFacts">
			<soap:operation soapAction="urn:GetProblemFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetTestResultFacts">
			<soap:operation soapAction="urn:GetTestResultFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetMedicationFacts">
			<soap:operation soapAction="urn:GetMedicationFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetDemographicsFact">
			<soap:operation soapAction="urn:GetDemographicsFact"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetVitalsFacts">
			<soap:operation soapAction="urn:GetVitalsFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetTestResultEventFacts">
			<soap:operation soapAction="urn:GetTestResultEventFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetSupportContactFacts">
			<soap:operation soapAction="urn:GetSupportContactFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetProcedureFacts">
			<soap:operation soapAction="urn:GetProcedureFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetAppointmentFacts">
			<soap:operation soapAction="urn:GetAppointmentFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetAdmissionFacts">
			<soap:operation soapAction="urn:GetAdmissionFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetEncounterFacts">
			<soap:operation soapAction="urn:GetEncounterFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetEncounterDetailFacts">
			<soap:operation soapAction="urn:GetEncounterDetailFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetPatientFacts">
			<soap:operation soapAction="urn:GetPatientFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetProviderFacts">
			<soap:operation soapAction="urn:GetProviderFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetInsuranceFacts">
			<soap:operation soapAction="urn:GetInsuranceFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetOrderFacts">
			<soap:operation soapAction="urn:GetOrderFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetRegistryFacts">
			<soap:operation soapAction="urn:GetRegistryFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetImagingResultFacts">
			<soap:operation soapAction="urn:GetImagingResultFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="GetAppointmentScheduleFacts">
			<soap:operation soapAction="urn:GetAppointmentScheduleFacts"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
		<operation name="RecordLabOrder">
			<soap:operation soapAction="urn:RecordLabOrder"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
			<fault name="FaultMessage">
				<soap:fault name="FaultMessage" use="literal"/>
			</fault>
		</operation>
	</binding>
	<service name="AdapterFactService">
		<port name="CommonDataLayerFactPort" binding="tns:CommonDataLayerFactPortBinding">
			<soap:address location="http://nhindev01.asu.edu:8080/CommonDataLayerFactService/AdapterFactService"/>
		</port>
	</service>
</definitions>
